<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Thêm Nhân Viên</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
  <h1>Thêm Nhân Viên</h1>
  <form th:action="@{/nhanviens/add}" th:object="${nhanvien}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="Ma_NV">Mã Nhân Viên</label>
      <input class="form-control" type="text" th:field="*{Ma_NV}" id="Ma_NV">
      <span class="text-danger" th:if="${#fields.hasErrors('Ma_NV')}" th:errors="*{Ma_NV}"></span>
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="Ten_NV">Tên Nhân Viên</label>
      <input class="form-control" type="text" th:field="*{Ten_NV}" id="Ten_NV">
      <span class="text-danger" th:if="${#fields.hasErrors('Ten_NV')}" th:errors="*{Ten_NV}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="Phai">Giới tính</label>
      <input class="form-control" type="text" th:field="*{Phai}" id="Phai">
      <span class="text-danger" th:if="${#fields.hasErrors('Phai')}" th:errors="*{Phai}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="Noi_Sinh">Nơi sinh</label>
      <input class="form-control" type="text" th:field="*{Noi_Sinh}" id="Noi_Sinh">
      <span class="text-danger" th:if="${#fields.hasErrors('Noi_Sinh')}" th:errors="*{Noi_Sinh}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="PhongBan">Phòng Ban</label>
      <select class="form-control" id="PhongBan" name="PhongBan.Ma_Phong">
        <option value="">-- Danh sách Phòng Ban --</option>
        <option th:each="PhongBan: ${PhongBans}" th:value="${PhongBan.Ma_Phong}" th:text="${PhongBan.Ten_Phong}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('PhongBan')}" th:errors="*{PhongBan}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="Luong">Lương </label>
      <input class="form-control" type="text" th:field="*{Luong}" id="Luong">
      <span class="text-danger" th:if="${#fields.hasErrors('Luong')}" th:errors="*{Luong}"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="save" >
  </form>
  <a th:href="@{/nhanviens}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"><h2>Trần Thiên Phúc - 2011069010 - 20DTHC5</h2></th:block>
</body>
</html>